* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background */
body {
  background: url("images/bg.jpg") no-repeat center center/cover;
  color: white;
}

/* Overlay */
.overlay {
  background: rgba(0,0,0,0.65);
  height: 100vh;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav h2 {
  color: #00ffcc;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.hero h1 {
  font-size: 52px;
}

.hero span {
  color: #00ffcc;
}

.hero p {
  margin: 15px 0 30px;
  font-size: 18px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  background: #00ffcc;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn.outline {
  background: transparent;
  border: 2px solid #00ffcc;
  color: #00ffcc;
}

.btn.small {
  padding: 8px 20px;
  font-size: 14px;
}

/* WORK SECTION */
.work {
  padding: 80px 40px;
  background: #0b0b0b;
}

.work h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #00ffcc;
}

.work-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.work-card {
  background: #111;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.work-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.work-card h3 {
  margin: 15px 0 10px;
}

.work-card p {
  font-size: 14px;
  opacity: 0.8;
  padding: 0 15px;
}